{% extends base_layout %}
{% import 'admin/macros.html' as lib with context %}

{% block header_title %}
    <i class="icon-pencil"></i> Edit BOM
{% endblock %}

{% block body_attr %}
spellcheck="false"
{% endblock %}


{% block content %}

{{ bom.name }}
<div>
    create_time: {{ bom.create_time.strftime('%Y-%b-%d') }}
    change_time: {{ bom.change_time.strftime('%Y-%b-%d') }}
</div>
<div>
    {{ lib.render_form(form, uri_for('bom-edit-fields', bom_id=bom.key.id()), btn='Update') }}
</div>

{% for part in rawparts %}
<!-- <a name="{{part['id']}}"></a> -->
<div id="part{{part['id']}}" class="well" style="padding:10px; margin-bottom:10px">
<div class="row">
    <div class="span10 part">
        <form class="edit" style="display:none; margin:0">
            <textarea class="span10" style="padding-top:9.5px; margin:0"></textarea>
        </form>
        <pre class="content" style="border:none; background-color:transparent; padding:0; margin:0">{{ part['raw'] }}</pre>
        <div class="alert alert-danger error" style="display:none; margin-top:10px; margin-bottom:0px">
        </div>
        <div class="alert alert-info help" style="display:none; margin-top:10px; margin-bottom:0px">
            <h3>Help</h3>
            <pre class="helptxt_slot"></pre>
        </div>
    </div>
    <div class="partid" style="display:none">{{ part['id'] }}</div>
    <div class="btn-group btn-group-vertical span1">
        <a href="#" class="btn span1 edit"><i class="icon-pencil"></i> <span>Edit</span></a>
        <a href="#" class="btn btn-primary span1 save" style="display:none"><i class="icon-pencil"></i> <span>Save</span></a>
        <a href="#" class="btn btn-warning span1 reallydelete" style="display:none"><i class="icon-trash"></i>Delete</a>
        <a href="#" class="btn span1 delete"><i class="icon-trash"></i> <span>Delete</span></a>
        <a href="#" class="btn span1 help"><i class="icon-info-sign"></i> <span>Help</span></a>
    </div>
</div>
</div>
{% endfor %}


<pre id="helptxt" style="display:none">
part_name   group
   * note
   # designator
   @ manufacturer   part_num
   $ supplier   order_num   currency price   url
   quantity   subsystem   usage_dsecription
</pre>




{% block mediaJS %}
<script type="text/javascript">
var helptxt = 
$(document).ready(function(){
    // Edit button
    $('a.edit').toggle(function() {
        var content = $(this).parent().siblings('div.part').children('pre.content')
        var form = $(this).parent().siblings('div.part').children('form.edit')
        var textarea = form.children('textarea')
        textarea.height(content.height()+20);
        textarea.val(content.text());
        // textarea.css('padding', content.css('padding'));
        // textarea.css('margin', content.css('margin'));
        textarea.css('font-family', content.css('font-family'));
        textarea.css('font-size', content.css('font-size'));
        form.show();
        textarea.focus()
        content.hide();
        // button states
        $(this).children('span').text('Cancel')
        $(this).siblings('a.save').show()
        $(this).siblings('a.delete').hide()
        return false;
    }, function() {
        var content = $(this).parent().siblings('div.part').children('pre.content')
        var form = $(this).parent().siblings('div.part').children('form.edit')
        form.hide();
        content.show();
        // button states
        $(this).children('span').text('Edit')
        $(this).siblings('a.save').hide()
        $(this).siblings('a.delete').show()
        $(this).siblings('a.save').removeClass('btn-danger');
        $(this).siblings('a.save').addClass('btn-primary');
        // error alert
        var errordiv = $(this).parent().siblings('div.part').children('.error');
        errordiv.text('');
        errordiv.hide();
        return false;
    });
    // Delete button
    $('a.delete').toggle(function() {
        var content = $(this).parent().siblings('div.part').children('pre')
        var deldiv = $(this).parent().siblings('div.part').children('.delete')
        deldiv.height(content.height()+20);
        content.addClass('alert');
        $(this).children('span').text('Cancel');
        $(this).siblings('a.edit').hide()
        $(this).siblings('a.reallydelete').show()
        return false;
    }, function() {
        var content = $(this).parent().siblings('div.part').children('pre')
        content.removeClass('alert');
        $(this).children('span').text('Delete');
        $(this).siblings('a.reallydelete').hide()
        $(this).siblings('a.edit').show()
        return false;
    });
    // Help button
    $('a.help').toggle(function() {
        var helpdiv = $(this).parent().siblings('div.part').children('.help')
        helpdiv.children('.helptxt_slot').text($('pre#helptxt').text())
        $('div.help').hide()  // hide others
        $('a.help').children('span').text('Help');
        helpdiv.show()
        $(this).children('span').text('Hide');
        return false;
    }, function() {
        var helpdiv = $(this).parent().siblings('div.part').children('.help')
        helpdiv.hide()
        helpdiv.children('.helptxt_slot').text('')
        $(this).children('span').text('Help');
        return false;
    });
    // Really Delete button
    $('a.reallydelete').click(function() {
        var button = $(this)
        button.removeClass('btn-warning');
        button.addClass('btn-danger');
        var partid = button.parent().siblings('.partid').text();
        $.ajax({
            type: "POST",
            url: "/p/{{ bom.key.id() }}/delete/"+partid,
            data: {'_csrf_token':'{{ csrf_token() }}'},
            dataType: "json",
            success: function (data) {
              // delete ok
              $('div#part' + partid).slideUp()
            },
            error: function (data) {
              // delete failed
              button.addClass('btn-warning');
              button.removeClass('btn-danger');
            }
        });
        return false;
    });
    // Save button
    $('a.save').click(function() {
        var button = $(this)
        button.removeClass('btn-primary');
        button.removeClass('btn-danger');
        button.addClass('btn-warning');
        var partid = button.parent().siblings('.partid').text();
        var form = button.parent().siblings('div.part').children('form.edit')
        var bomfu = form.children('textarea').val()
        $.ajax({
            type: "POST",
            url: "/p/{{ bom.key.id() }}/edit/"+partid,
            data: {'_csrf_token':'{{ csrf_token() }}',
                   'bomfu':bomfu},
            dataType: 'json',
            success: function (data) {
                if (data.error == false) {
                    // save ok
                    // update content
                    var content = button.parent().siblings('div.part').children('pre.content')
                    var form = button.parent().siblings('div.part').children('form.edit')
                    content.text(form.children('textarea').val())
                    // button stated
                    button.siblings('a.edit').trigger('click')
                    button.removeClass('btn-danger');
                    button.removeClass('btn-warning');
                    button.siblings('a.edit').addClass('btn-success')
                    setTimeout(function(){
                        button.siblings('a.edit').removeClass('btn-success')
                    }, 1000);
                    // error box cleanup
                    var errordiv = button.parent().siblings('div.part').children('.error');
                    errordiv.text('');
                    errordiv.hide();
                } else {
                    // save failed, show error
                    var errordiv = button.parent().siblings('div.part').children('.error');
                    errordiv.text(data.error);
                    errordiv.show();
                    button.addClass('btn-danger');
                }
            },
            error: function (data) {
                // edit failed
                button.addClass('btn-danger');
                button.removeClass('btn-warning');
            }
        });
        return false;
    });
});  // ready
</script>
{% endblock %}


{% endblock %}