{% extends base_layout %}

{% block header_title %}
    <div class="pull-right">
        <a class="btn btn-small" href="{{ uri_for('bom-delete', bom_id=bom.key.id()) }}" title="delete bom"><i class="icon-trash"></i></a>
    </div>
    {{ bom.name }}
{% endblock %}

{% block body_attr %}
spellcheck="false"
{% endblock %}


{% block content %}

<ul class="nav nav-tabs">
    <li><a href="{{ uri_for('bom-build', public_id=public_id, currency=currency) }}"><i class="icon-wrench"></i> Build</a></li>
    <li><a href="{{ uri_for('bom-order', public_id=public_id, currency=currency) }}"><i class="icon-shopping-cart"></i> Order</a></li>
    {% if is_owner %}
        <li class="active"><a href="#"><i class="icon-pencil"></i> Edit</a></li>
    {% endif %}
</ul>

<table class="table">
    <tr>
        <td class="span2" style="padding-top:24px; text-align:right; border-top:0">Name:</td>
        <td style="border-top:0">
            <input id="name_field" type="text" value="{{ bom.name }}" style="margin-top:11px">
            <a id="name_field" class="btn" href="#" style="display:none">Save</a>
        </td>
    </tr>
    <tr>
        <td class="" style="padding-top:12px; text-align:right">Public:</td>
        <td>
            <input id="public_check" type="checkbox" value="">
        </td>
    </tr>
    <tr>
        <td class="" style="padding-top:12px; text-align:right">Images:</td>
        <td></td>
    </tr>
    <tr>
        <td class="" style="text-align:right">Last Updated:</td>
        <td>
            {{ bom.change_time.strftime('%Y-%b-%d') }}
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td style="padding-top:1.4em; padding-bottom:0">
            <span class="badge" style="margin:3px; padding:0 6px 0 0"><span class="badge badge-info">*</span> <i>note</i> line</span>
            <span class="badge" style="margin:3px; padding:0 6px 0 0"><span class="badge badge-info">#</span> <i>designator</i> line</span>
            <span class="badge" style="margin:3px; padding:0 6px 0 0"><span class="badge badge-info">@</span> <i>manufacturer</i> line</span>
            <span class="badge" style="margin:3px; padding:0 6px 0 0"><span class="badge badge-info">$</span> <i>supplier</i> line</span>
            <span class="badge" style="margin:3px; padding:0 6px 0 0"><span class="badge badge-info">&lt;num&gt;</span> <i>usage</i> line</span>
        </td>
    </tr>
</table>


<div class="well" style="padding:10px; margin-bottom:10px">
<div class="row">
    <div class="span10 add_part">
        <form class="edit" style="display:none; margin:0">
            <textarea class="span10" style="height:200px; padding-top:9.5px; margin:0"></textarea>
        </form>
        <div class="content" style="font-size:24px; font-weight:bold; margin-top:6px">Parts</div>
        <div class="alert alert-danger error" style="display:none; margin-top:10px; margin-bottom:0px"></div>
        <div class="alert alert-info help" style="display:none; margin-top:10px; margin-bottom:0px">
            <h3>Help</h3>
            <pre class="helptxt_slot"></pre>
        </div>
    </div>
    <div class="btn-group btn-group-vertical span1">
        <a href="#" class="btn add_part span1"><i class="icon-pencil"></i> <span>Add</span></a>
        <a href="#" class="btn btn-primary span1 add_part_save" style="display:none"><i class="icon-pencil"></i> <span>Save</span></a>
    </div>
</div>
</div>



{% for part in rawparts %}
<div id="part{{part['id']}}" class="well" style="padding:10px; margin-bottom:10px">
<div class="row">
    <div class="span10 part">
        <form class="edit" style="display:none; margin:0">
            <textarea class="span10" style="padding-top:9.5px; margin:0"></textarea>
        </form>
        <pre class="content" style="border:none; background-color:transparent; padding:0; margin:0">{{ part['raw'] }}</pre>
        <div class="alert alert-danger error" style="display:none; margin-top:10px; margin-bottom:0px">
        </div>
        <div class="alert alert-info help" style="display:none; margin-top:10px; margin-bottom:0px">
            <h3>Help</h3>
            <pre class="helptxt_slot"></pre>
        </div>
    </div>
    <div class="partid" style="display:none">{{ part['id'] }}</div>
    <div class="btn-group btn-group-vertical span1">
        <a href="#" class="btn span1 edit"><i class="icon-pencil"></i> <span>Edit</span></a>
        <a href="#" class="btn btn-primary span1 save" style="display:none"><i class="icon-pencil"></i> <span>Save</span></a>
        <a href="#" class="btn btn-warning span1 reallydelete" style="display:none"><i class="icon-trash"></i>Delete</a>
        <a href="#" class="btn span1 delete"><i class="icon-trash"></i> <span>Delete</span></a>
        <a href="#" class="btn span1 help"><i class="icon-info-sign"></i> <span>Help</span></a>
    </div>
</div>
</div>
{% endfor %}


<pre id="helptxt" style="display:none">
part_name   group
   * note
   # designator
   @ manufacturer   part_num
   $ supplier   order_num   USD 100.00   url
   4   subsystem   usage_dsecription
</pre>




{% block mediaJS %}
<script type="text/javascript">
$().ready(function(){
    // set form fields
    $('input#name_field').val("{{bom.name}}");
    if ("{{bom.public}}" == "True") {
        $('input#public_check').prop('checked', true);
    } else {
        $('input#public_check').prop('checked', false);
    }
    // name field
    $('input#name_field').keydown(function(event){
        if (event.which == 13 || event.keyCode == 13) {
            $('a#name_field').trigger('click');
            return false;
        }
        $('a#name_field').show();
        return true;
    });
    // name field save button
    $('a#name_field').click(function(){
        var button = $(this);
        var row = button.parent().parent();
        button.addClass('btn-warning');
        var name = $('input#name_field').val();
        $.ajax({
            type: "POST",
            url: "/b/{{ bom.key.id() }}/editfields",
            data: {'_csrf_token':'{{ csrf_token() }}',
                   'name':name},
            dataType: 'json',
            success: function (data) {
                button.removeClass('btn-warning');
                if (data.error == false) {
                    // ok
                    button.removeClass('btn-warning');
                    button.removeClass('btn-danger');
                    button.hide();
                    row.addClass('success');
                    setTimeout(function(){
                        row.removeClass('success');
                    }, 500);
                } else {
                    button.addClass('btn-danger');
                    button.removeClass('btn-warning');
                }
            },
            error: function (data) {
                // failed
                button.addClass('btn-danger');
                button.removeClass('btn-warning');
            }
        });
        return false;
    });
    // public checkbox
    $('input#public_check').change(function(){
        var check = $(this);
        var checkstate = check.is(':checked')
        var row = check.parent().parent();
        $.ajax({
            type: "POST",
            url: "/b/{{ bom.key.id() }}/editfields",
            data: {'_csrf_token':'{{ csrf_token() }}',
                   'public':checkstate},
            dataType: 'json',
            success: function (data) {
                if (data.error == false) {
                    // ok
                    row.removeClass('warning');
                    row.addClass('success');
                    setTimeout(function(){
                        row.removeClass('success');
                    }, 500);
                } else {
                    check.prop('checked', !checkstate);
                    row.addClass('warning');
                }
            },
            error: function (data) {
                // failed
                check.prop('checked', !checkstate);
                row.addClass('warning');
            }
        });
    });
    // Add button
    $('a.add_part').toggle(function() {
        var content = $(this).parent().siblings('div.add_part').children('.content')
        var form = $(this).parent().siblings('div.add_part').children('form.edit')
        var textarea = form.children('textarea')
        // textarea.height(content.height()+20);
        // textarea.val(content.text());
        textarea.css('font-family', $('pre#helptxt').css('font-family'));
        textarea.css('font-size', $('pre#helptxt').css('font-size'));
        textarea.text($('pre#helptxt').text())
        form.show();
        textarea.focus()
        content.hide();
        // button states
        $(this).children('span').text('Cancel')
        $(this).siblings('a.add_part_save').show()
        return false;
    }, function() {
        var content = $(this).parent().siblings('div.add_part').children('.content')
        var form = $(this).parent().siblings('div.add_part').children('form.edit')
        form.hide();
        content.show();
        // button states
        $(this).children('span').text('Edit')
        $(this).siblings('a.add_part_save').hide()
        $(this).siblings('a.add_part_save').removeClass('btn-danger');
        $(this).siblings('a.add_part_save').addClass('btn-primary');
        // error alert
        var errordiv = $(this).parent().siblings('div.add_part').children('.error');
        errordiv.text('');
        errordiv.hide();
        return false;
    });
    // Add Save button
    $('a.add_part_save').click(function() {
        var button = $(this)
        button.removeClass('btn-primary');
        button.removeClass('btn-danger');
        button.addClass('btn-warning');
        var form = button.parent().siblings('div.add_part').children('form.edit')
        var bomfu = form.children('textarea').val()
        $.ajax({
            type: "POST",
            url: "/p/{{ bom.key.id() }}/edit/null",
            data: {'_csrf_token':'{{ csrf_token() }}',
                   'bomfu':bomfu},
            dataType: 'json',
            success: function (data) {
                button.removeClass('btn-warning');
                if (data.error == false) {
                    // add ok
                    button.siblings('a.add_part').addClass('btn-success')
                    button.removeClass('btn-danger')
                    button.addClass('btn-success')
                    setTimeout(function(){
                        location.reload()
                    }, 100);
                    // // update content
                    // // make sure to also provide key !!!
                    // var content = button.parent().siblings('div.part').children('pre.content')
                    // var form = button.parent().siblings('div.part').children('form.edit')
                    // content.text(form.children('textarea').val())
                    // // button stated
                    // button.siblings('a.edit').trigger('click')
                    // button.removeClass('btn-danger');
                    // button.siblings('a.edit').addClass('btn-success')
                    // setTimeout(function(){
                    //     button.siblings('a.edit').removeClass('btn-success')
                    // }, 500);
                    // // error box cleanup
                    // var errordiv = button.parent().siblings('div.add_part').children('.error');
                    // errordiv.text('');
                    // errordiv.hide();
                } else {
                    // add failed, show error
                    var errordiv = button.parent().siblings('div.add_part').children('.error');
                    errordiv.text(data.error);
                    errordiv.show();
                    button.addClass('btn-danger');
                }
            },
            error: function (data) {
                // add failed
                button.addClass('btn-danger');
                button.removeClass('btn-warning');
            }
        });
        return false;
    });
    // Edit button
    $('a.edit').toggle(function() {
        var content = $(this).parent().siblings('div.part').children('pre.content')
        var form = $(this).parent().siblings('div.part').children('form.edit')
        var textarea = form.children('textarea')
        textarea.height(content.height()+20);
        textarea.val(content.text());
        // textarea.css('padding', content.css('padding'));
        // textarea.css('margin', content.css('margin'));
        textarea.css('font-family', content.css('font-family'));
        textarea.css('font-size', content.css('font-size'));
        form.show();
        textarea.focus()
        content.hide();
        // button states
        $(this).children('span').text('Cancel')
        $(this).siblings('a.save').show()
        $(this).siblings('a.delete').hide()
        return false;
    }, function() {
        var content = $(this).parent().siblings('div.part').children('pre.content')
        var form = $(this).parent().siblings('div.part').children('form.edit')
        form.hide();
        content.show();
        // button states
        $(this).children('span').text('Edit')
        $(this).siblings('a.save').hide()
        $(this).siblings('a.delete').show()
        $(this).siblings('a.save').removeClass('btn-danger');
        $(this).siblings('a.save').addClass('btn-primary');
        // error alert
        var errordiv = $(this).parent().siblings('div.part').children('.error');
        errordiv.text('');
        errordiv.hide();
        return false;
    });
    // Delete button
    $('a.delete').toggle(function() {
        var content = $(this).parent().siblings('div.part').children('pre')
        var deldiv = $(this).parent().siblings('div.part').children('.delete')
        deldiv.height(content.height()+20);
        content.addClass('alert');
        $(this).children('span').text('Cancel');
        $(this).siblings('a.edit').hide()
        $(this).siblings('a.reallydelete').show()
        return false;
    }, function() {
        var content = $(this).parent().siblings('div.part').children('pre')
        content.removeClass('alert');
        $(this).children('span').text('Delete');
        $(this).siblings('a.reallydelete').hide()
        $(this).siblings('a.edit').show()
        return false;
    });
    // Help button
    $('a.help').toggle(function() {
        var helpdiv = $(this).parent().siblings('div.part').children('.help')
        helpdiv.children('.helptxt_slot').text($('pre#helptxt').text())
        $('div.help').hide()  // hide others
        $('a.help').children('span').text('Help');
        helpdiv.show()
        $(this).children('span').text('Hide');
        return false;
    }, function() {
        var helpdiv = $(this).parent().siblings('div.part').children('.help')
        helpdiv.hide()
        helpdiv.children('.helptxt_slot').text('')
        $(this).children('span').text('Help');
        return false;
    });
    // Really Delete button
    $('a.reallydelete').click(function() {
        var button = $(this)
        button.removeClass('btn-warning');
        button.addClass('btn-danger');
        var partid = button.parent().siblings('.partid').text();
        $.ajax({
            type: "POST",
            url: "/p/{{ bom.key.id() }}/delete/"+partid,
            data: {'_csrf_token':'{{ csrf_token() }}'},
            dataType: "json",
            success: function (data) {
              // delete ok
              $('div#part' + partid).slideUp()
            },
            error: function (data) {
              // delete failed
              button.addClass('btn-warning');
              button.removeClass('btn-danger');
            }
        });
        return false;
    });
    // Save button
    $('a.save').click(function() {
        var button = $(this)
        button.removeClass('btn-primary');
        button.removeClass('btn-danger');
        button.addClass('btn-warning');
        var partid = button.parent().siblings('.partid').text();
        var form = button.parent().siblings('div.part').children('form.edit')
        var bomfu = form.children('textarea').val()
        $.ajax({
            type: "POST",
            url: "/p/{{ bom.key.id() }}/edit/"+partid,
            data: {'_csrf_token':'{{ csrf_token() }}',
                   'bomfu':bomfu},
            dataType: 'json',
            success: function (data) {
                if (data.error == false) {
                    // save ok
                    // update content
                    var content = button.parent().siblings('div.part').children('pre.content')
                    var form = button.parent().siblings('div.part').children('form.edit')
                    content.text(form.children('textarea').val())
                    // button stated
                    button.siblings('a.edit').trigger('click')
                    button.removeClass('btn-danger');
                    button.removeClass('btn-warning');
                    button.siblings('a.edit').addClass('btn-success')
                    setTimeout(function(){
                        button.siblings('a.edit').removeClass('btn-success')
                    }, 500);
                    // error box cleanup
                    var errordiv = button.parent().siblings('div.part').children('.error');
                    errordiv.text('');
                    errordiv.hide();
                } else {
                    // save failed, show error
                    var errordiv = button.parent().siblings('div.part').children('.error');
                    errordiv.text(data.error);
                    errordiv.show();
                    button.addClass('btn-danger');
                }
            },
            error: function (data) {
                // edit failed
                button.addClass('btn-danger');
                button.removeClass('btn-warning');
            }
        });
        return false;
    });
});  // ready
</script>
{% endblock %}


{% endblock %}